:root {
  --primary: #00a9ff;
}
.container {
  display: flex;
  gap: 2%;
  padding: 2.5rem 5%;
}
.container .detail {
  width: 73%;
}
.container .detail h1 {
  margin-bottom: 1rem;
  font-weight: 600;
}
.icon {
  display: flex;
}
.detail img {
  margin: 1rem 0;
  border-radius: 1rem;
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.detail h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.recomend-des {
  margin-top: 2rem;
  border-top: 1px solid lightgray;
  padding: 1rem 0;
}
.recomend-des h3 {
   margin-bottom: 1rem;
}
.card-box {
  display: grid;
  grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
  gap: 2%;
}

aside {
  margin-top: 3.9rem;
  width: 25%;
}
.booking {
  display: flex;
  flex-direction: column;
  place-content: center;
  box-sizing: border-box;
  margin-top: 1.1rem;
  border: 2.5px solid #ececec;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  height: 25rem;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
#onsale {
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
  color: var(--primary);
}
.booking h3 {
  margin-bottom: 1rem;
  font-weight: 500;
}
.booking h1 {
  margin: 0.3rem 0;
  font-size: 2.5rem;
  font-weight: 600;
}
.booking h1 span {
  font-size: 0.875rem;
}
.booking a {
  box-sizing: border-box;
  margin: 1rem 0;
  border-radius: 999px;
  padding: 1rem;
  width: 100%;
  background-color: var(--primary);
  color: white;
  text-align: center;
}
#offers {
  border-top: 1px solid lightgray;
  padding-top: 1rem;
  font-weight: 500;
}

@media only screen and (max-width: 758px) {
  .container {
    flex-direction: column-reverse;
  }
  .container .detail {
    width: 100%;
  }
  aside {
    margin-top: 0;
    margin-bottom: 3rem;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .card-box {
    grid-template-columns: 49% 49%;
  }
}

@media only screen and (max-width: 350px) {
  .card-box {
    grid-template-columns: 100%;
  }
}
